<h1>Tickets</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Status</th>
    <th>Subject</th>
    <th>Content</th>
  </tr>
  <% @tickets.each do |ticket| %>
    <tr>
      <td><%= ticket.name %></td>
      <td><%= ticket.email %></td>
      <td><%= ticket.ticket_status %></td>
      <td><%= ticket.subject %></td>
      <td><%= ticket.content %></td>
    </tr>
  <% end %>
  <tr>
    <td><%= link_to 'New Ticket', new_ticket_path %></td>
  </tr>
</table>

