<h1>Tickets</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Status</th>
    <th>Subject</th>
    <th>Content</th>
    <th>Actions</th>
  </tr>
  <% @tickets.each do |ticket| %>
    <tr>
      <td><%= ticket.name %></td>
      <td><%= ticket.email %></td>
      <td><%= ticket.ticket_status %></td>
      <td><%= ticket.subject %></td>
      <td><%= ticket.content %></td>
      <td>
        <%= link_to 'Edit', edit_ticket_path(ticket) %>
        <%= link_to 'Delete', ticket, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>

